.heading{
    font-size: 25px;
    color: white;
    background-color:black;
    padding: 1em;

}

.flex-container{
    display: flex;
    flex-direction: row;
    padding: 3em;
}

.flex-bank{
    background-color: lightgrey;
    padding: 1em;
    margin: 1em;
    height: 90%;
}

.flex-work{
    background-color:lightgrey;
    padding: 1em;
    margin: 1em;
    width: 30%;
}

.flex-laptop{
    background-color: lightgrey;
    padding: 1em;
    margin: 1em;
    width: 30%;
}

.information{
    background-color: lightgrey;
    display: flex;
    padding: 1em;
    margin: 3em;
}

.information h1 {
   margin-left: 1em;
}

.information p {
    margin-left: 4em;
}

.price {
    margin-left: 5em;
    display: center;
}

.flex-bank span {
    font-size: 1.2em;
    font-weight: bold;
}
.flex-work span {
    font-size: 1.2em;
    font-weight: bold;
}